<ion-content fullscreen class="story-page">

  <div
    class="story-container"
    (click)="handleStoryTap($event)"
  >

    <!-- Story Media -->

    <img
      *ngIf="currentStory?.mediaType === 'image'"
      class="story-image"
      [src]="currentStory?.mediaUrl"
      alt="Story"
    />

    <video
      *ngIf="currentStory?.mediaType === 'video'"
      class="story-image"
      [src]="currentStory?.mediaUrl"
      autoplay
      playsinline
      muted
    ></video>

    <div class="overlay"></div>


    <!-- TOP BAR -->

    <div class="top-bar">

      <!-- Instagram Style Progress -->

      <div class="progress">

        <div
          class="progress-item"
          *ngFor="let story of stories; let i = index"
        >

          <div
            class="progress-fill"
            [class.completed]="i < currentIndex"
            [class.active]="i === currentIndex"
          ></div>

        </div>

      </div>


      <!-- HEADER -->

      <div class="header">

        <div class="user">

          <img
            [src]="user?.profileImage || 'assets/profile.png'"
            alt="Profile"
          />

          <div>

            <b>
              {{ user?.username }}
            </b>

            <small>
              {{ currentStory?.createdAt | date:'short' }}
            </small>

          </div>

        </div>


        <ion-icon
          name="close"
          (click)="goBack(); $event.stopPropagation()"
        ></ion-icon>

      </div>

    </div>


    <!-- LEFT / RIGHT TAP AREAS -->

    <div class="story-tap-zone left-zone"></div>

    <div class="story-tap-zone right-zone"></div>


    <!-- BOTTOM -->

    <!-- <div
      class="bottom-bar"
      (click)="$event.stopPropagation()"
    >

      <input
        placeholder="Send message"
      />

      <ion-icon name="heart-outline"></ion-icon>

      <ion-icon name="happy-outline"></ion-icon>

      <ion-icon name="flame-outline"></ion-icon>

      <ion-icon name="share-social-outline"></ion-icon>

    </div> -->

  </div>

</ion-content>