:host{

--primary:#6C3DFF;
--secondary:#FF4DB8;
--text:#1F1F39;
--sub:#8C8CA1;

}

ion-header {
  background: #fff;
  z-index: 9999;
}

.login-content{

--background:linear-gradient(
180deg,
#ffffff 0%,
#f6f1ff 60%,
#efe8ff 100%
);

}

.login-wrapper{

padding:40px 28px;

display:flex;
flex-direction:column;
justify-content:center;

min-height:100%;

}

.login-header ion-toolbar{

--background:transparent;
--border-width:0;

}

.back-btn{

background:white;

width:42px;
height:42px;

border:none;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

box-shadow:0 5px 18px rgba(0,0,0,.08);

}

.logo{

width:140px;

margin:10px auto 25px;

display:block;

}

.login-wrapper h1{

text-align:center;

font-size:34px;

font-weight:700;

margin:0;

color:var(--text);

}

.login-wrapper p{

text-align:center;

color:var(--sub);

margin-top:12px;

margin-bottom:45px;

font-size:15px;

}

.field{

margin-bottom:22px;

}

.field label{

display:block;

margin-bottom:10px;

font-weight:600;

font-size:15px;

color:#333;

}

.field ion-input{

--background:white;

--padding-start:18px;

--padding-top:16px;

--padding-bottom:16px;

border-radius:18px;

border:1px solid #E6E6F3;

box-shadow:0 8px 22px rgba(108,61,255,.06);

}

.login-btn{

height:54px;

margin-top:20px;

--background:linear-gradient(
90deg,
#6C3DFF,
#FF4DB8
);

--border-radius:30px;

font-size:16px;

font-weight:700;

text-transform:none;

}

.bottom{

margin-top:35px;

text-align:center;

color:#666;

font-size:15px;

}

.bottom span{

color:#6C3DFF;

font-weight:700;

margin-left:5px;

}

.error{

margin-top:6px;

color:#ff3b30;

font-size:13px;

}