:host{

--primary:#5B4FE9;
--primary-light:#8B7CFF;

}


.followers-page{

--background:
linear-gradient(
180deg,
#ffffff,
#f5f3ff
);

}



/* Header */


.followers-header ion-toolbar{

--background:white;

--border-width:0;

}



.header-wrapper{

height:65px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 15px;

}



.header-wrapper h2{

font-size:21px;

font-weight:700;

margin:0;

}



.back-btn{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#f3f3fb;

display:flex;

align-items:center;

justify-content:center;

}



.back-btn ion-icon{

font-size:22px;

color:var(--primary);

}



.space{

width:42px;

}



/* Search */


.search-wrapper{

margin:15px;

height:50px;

display:flex;

align-items:center;

padding:0 18px;

background:white;

border-radius:25px;

box-shadow:
0 8px 25px rgba(0,0,0,.06);

}



.search-wrapper ion-icon{

font-size:22px;

color:#888;

}



.search-wrapper input{

flex:1;

margin-left:12px;

border:none;

outline:none;

background:transparent;

font-size:15px;

}





/* List */


.users-list{

padding:0 14px;

}




.user-card{

display:flex;

align-items:center;

background:white;

padding:14px;

margin-bottom:12px;

border-radius:20px;

box-shadow:
0 8px 25px rgba(0,0,0,.05);

animation:slide .3s ease;

}



@keyframes slide{

from{

opacity:0;

transform:translateY(10px);

}

to{

opacity:1;

transform:translateY(0);

}

}



/* Avatar */


.avatar-wrapper{

position:relative;

}



.avatar{

width:58px;

height:58px;

border-radius:50%;

object-fit:cover;

}



.online-dot{

position:absolute;

right:2px;

bottom:2px;

width:13px;

height:13px;

background:#22c55e;

border-radius:50%;

border:2px solid white;

}



/* Info */


.user-info{

flex:1;

margin-left:14px;

}



.user-info h3{

margin:0;

font-size:16px;

font-weight:700;

}



.user-info p{

margin:5px 0 0;

font-size:13px;

color:#777;

}





/* Buttons */


.follow-btn,
.message-btn{


height:38px;

padding:0 18px;

border:none;

border-radius:22px;

font-size: 10px;

font-weight:600;

}



.follow-btn{


background:
linear-gradient(
135deg,
#5B4FE9,
#8B7CFF
);

color:white;

box-shadow:
0 8px 20px rgba(91,79,233,.3);

}



.message-btn{


background:#f1f1f6;

color:#333;

}





.remove-btn{

font-size:22px;

color:#aaa;

margin-left:10px;

}





/* Empty */


.empty-state{


height:70vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

color:#999;

text-align:center;

}



.empty-state ion-icon{


font-size:65px;

color:#b8b8c8;

}



.empty-state h3{

margin:15px 0 5px;

font-size:20px;

color:#555;

}



.empty-state p{

font-size:14px;

}