.profile-page{

--background:
linear-gradient(
180deg,
#ffffff,
#f6f4ff
);

}


/* Header */


.profile-header-bar ion-toolbar{

--background:white;

--border-width:0;

}



.top-toolbar{

display:flex;

align-items:center;

justify-content:space-between;

padding:10px 15px;

}



.top-toolbar h2{

font-size:20px;

font-weight:700;

margin:0;

}



.circle-btn{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#f3f3fa;

display:flex;

align-items:center;

justify-content:center;

}



.circle-btn ion-icon{

font-size:22px;

color:#5b4fe9;

}




/* Profile */


.profile-card{

text-align:center;

padding:25px 20px;

}



.avatar-box img{

width:110px;

height:110px;

border-radius:50%;

object-fit:cover;

border:4px solid white;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

}



.profile-card h2{

margin:15px 0 5px;

font-size:23px;

}



.username{

color:#777;
margin: 0px !important;

}



.bio{

font-size:14px;

color:#555;

max-width:300px;

margin:auto;

}


.profession{

font-weight:600;

color:#5b4fe9;
margin: 0px !important;

}



/* Stats */


.stats-card{

margin:0 15px;

padding:18px;

background:white;

border-radius:22px;

display:flex;

justify-content:space-around;

box-shadow:
0 10px 25px rgba(0,0,0,.06);

}



.stats-card div{

text-align:center;

}



.stats-card h3{

margin:0;

font-size:22px;

}



.stats-card span{

font-size:13px;

color:#777;

}



/* Edit */


.edit-box{

padding:18px;

}



.edit-box button{

width:100%;

height:45px;

border:none;

border-radius:25px;

background:
linear-gradient(
135deg,
#5b4fe9,
#8b7cff
);

color:white;

font-size:16px;

font-weight:600;

}



/* Tabs */


.tabs{

display:flex;

background:white;

margin-top:10px;

}



.tabs div{

flex:1;

text-align:center;

padding:15px;

font-size:24px;

color:#777;

}



.tabs .active{

color:#5b4fe9;

border-bottom:3px solid #5b4fe9;

}



/* Gallery */


.gallery{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:3px;

}



.item{

aspect-ratio:1;

position:relative;

overflow:hidden;

background:#eee;

}



.item img,
.item video{

width:100%;

height:100%;

object-fit:cover;

}



/* Reel icon */


.play{

position:absolute;

right:8px;

top:8px;

color:white;

font-size:18px;

text-shadow:
0 2px 5px black;

}



/* Empty */


.empty{

height:300px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:#999;

}



.empty ion-icon{

font-size:55px;

}


.empty h3{

margin:15px 0 5px;

}
