.search-page{

--background:
linear-gradient(
180deg,
#ffffff,
#f5f3ff
);

}





/* Header */


.search-header ion-toolbar{

--background:#fff;

--border-width:0;

}





.top-bar{


height:65px;

display:flex;

align-items:center;

gap:10px;

padding:0 12px;


}





.back-btn{


width:42px;

height:42px;


border:none;


border-radius:50%;


background:#f3f2fb;


display:flex;

align-items:center;

justify-content:center;


}



.back-btn ion-icon{


font-size:22px;

color:#5B4FE9;


}





/* Search */


.search-box{


height:46px;


flex:1;


background:#f1f1f5;


border-radius:25px;


display:flex;


align-items:center;


padding:0 15px;


}



.search-box ion-icon{


font-size:21px;

color:#777;


}



.search-box input{


border:none;

outline:none;


background:none;


flex:1;


margin-left:10px;


font-size:15px;


}





/* Users */


.users-container{


padding:15px;


}






.user-card{


display:flex;


align-items:center;


background:white;


padding:14px;


border-radius:22px;


margin-bottom:12px;


box-shadow:


0 8px 25px rgba(0,0,0,.06);


animation:slide .3s ease;


}





@keyframes slide{


from{

opacity:0;

transform:translateY(10px);

}


to{

opacity:1;

transform:none;

}


}






/* Avatar */


.avatar-box{


position:relative;


}



.avatar-box img{


width:58px;

height:58px;


border-radius:50%;


object-fit:cover;


}





.online-dot{


position:absolute;


right:3px;


bottom:3px;


width:13px;


height:13px;


background:#22c55e;


border-radius:50%;


border:2px solid white;


}





/* Details */


.details{


flex:1;


margin-left:14px;


}



.details h3{


margin:0;


font-size:16px;


font-weight:700;


}



.details p{


margin-top:5px;


font-size:13px;


color:#777;


}





/* Private */


.private ion-icon{


font-size:22px;


color:#777;


}







/* Empty */


.empty{


height:70vh;


display:flex;


flex-direction:column;


align-items:center;


justify-content:center;


color:#999;


}



.empty ion-icon{


font-size:65px;


color:#bbb;


}



.empty h3{


margin:15px 0 5px;


color:#555;


}



.empty p{


font-size:14px;


}