.create-page{

--background:
linear-gradient(
180deg,
#ffffff,
#f4f1ff
);

}




/* Header */


.create-header ion-toolbar{

--background:white;

--border-width:0;

}



.top-bar{

height:65px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 15px;

}



.top-bar h2{

font-size:22px;

font-weight:700;

margin:0;

}



.back-btn{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#f3f2fb;

display:flex;

align-items:center;

justify-content:center;

}



.back-btn ion-icon{

font-size:22px;

color:#5b4fe9;

}



.space{

width:42px;

}







/* Container */


.create-container{

padding:15px;

}






/* Cards */


.option-card{


display:flex;

align-items:center;

padding:18px;

margin-bottom:16px;

background:

rgba(255,255,255,.9);


border-radius:24px;


box-shadow:

0 10px 30px rgba(0,0,0,.07);


transition:.25s;


}



.option-card:active{


transform:scale(.97);


}






/* Icon */


.icon-box{


width:60px;

height:60px;

border-radius:20px;


display:flex;

align-items:center;

justify-content:center;


}



.icon-box ion-icon{

font-size:30px;

}





.post{


background:#e8e5ff;

}


.post ion-icon{

color:#5b4fe9;

}




.reel{


background:#ffe5f1;

}


.reel ion-icon{

color:#e91e63;

}





.story{


background:#e5fff0;

}


.story ion-icon{

color:#00b96b;

}







/* Text */


.option-text{


flex:1;

margin-left:16px;

}



.option-text h3{


margin:0;

font-size:18px;

font-weight:700;

color:#222;


}



.option-text p{


margin:6px 0 0;

font-size:13px;

color:#777;


}





.arrow{


font-size:24px;

color:#999;

}